<h3>Add new post</h3>
<%= form_for @post, :url => {:controller => 'posts', :action =>'create'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit "Create" , :class=>"btn btn-success" %>
<% end %>

